rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write for all users (e.g. project image uploads, datasheets, showcase builds)
      allow read, write: if true;
    }
  }
}
